.wrapper {
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10%);
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper .intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.wrapper .intro h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
  color: #f2f2f2;
}

.wrapper .intro .challenge_avt {
  transform: translateY(30%);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    transform: translateY(8%);
  }
}

@media only screen and (min-width: 1024px) {
}
